

nav li{
    list-style: none;
    justify-content: 
    
    center;
   align-items: center;
    
    
      
}

nav ul li img {
    width: 20px;
    height: 20px;
    margin: 0 11px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
   color: red;   
}
 

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: rgba(27, 27, 27, 0.877);
    display: inline-block;
    border-radius: 16px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-bottom: 3px;
    padding-top: 3px;
    justify-items: center;
    text-align: center;
   
}

.navContainer {
   
    
    text-align: center;
}

